@use 'utilities';

.search-filter-form {
  background-color: #fff;
  border: 0.1rem solid var(--neutral);
  border-radius: 3.2rem;
  padding: 1.4rem 1.2rem;
  width: 100%;

  @media (min-width: var(--breakpoint-l)) {
    display: flex;
    flex-direction: row;
  }

  &__dropdown {
    position: relative;

    &::after {
      background-color: var(--neutral);
      content: '';
      display: block;
      height: 0.1rem;
      margin: 0.8rem 0;
      width: 100%;
    }

    &-button {
      background-color: transparent;
      padding: 0.8rem 0;
      width: 100%;

      &-label {
        font-size: var(--text-s);
        font-weight: 500;
        line-height: var(--text-s-line-height);
      }
    }

    &-modal {
      display: none;
    }
  }

  &__search-button {
    margin-top: 2.4rem;
    width: 100%;
  }
}
