@use 'utilities';

$breakpoint-s: 480px;
$breakpoint-l: 870px;

.search-filter-form {
  background-color: #fff;
  border: 0.1rem solid var(--neutral);
  border-radius: 3.2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12);
  padding: 1.4rem 1.2rem;
  width: 100%;

  @media (min-width: $breakpoint-l) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 54.7rem;
    padding: 0.4rem 0.6rem 0.4rem 2.8rem;
  }

  &__dropdown {
    position: relative;

    @media (min-width: $breakpoint-l) {
      align-items: center;
      display: flex;
    }

    &::after {
      background-color: var(--neutral);
      content: '';
      display: block;
      height: 0.1rem;
      margin: 0.8rem 0;
      width: 100%;

      @media (min-width: $breakpoint-l) {
        height: 2.4rem;
        margin: 0;
        width: 0.1rem;
      }
    }

    &:first-of-type {
      .search-filter-form__dropdown-button {
        @media (min-width: $breakpoint-l) {
          padding-left: 0;
        }
      }
    }

    &:last-of-type {
      &::after {
        @media (min-width: $breakpoint-l) {
          display: none;
        }
      }
    }

    &-button {
      background-color: transparent;
      padding: 0.8rem 0;
      width: 100%;

      @media (min-width: $breakpoint-l) {
        padding: 0 4.5rem;
      }

      &-label {
        font-size: var(--text-s);
        font-weight: 500;
        line-height: var(--text-s-line-height);
      }
    }

    &-modal {
      background-color: #fff;
      display: none;
      left: 0;
      height: 100vh;
      position: fixed;
      top: 0;
      width: 100vw;
      z-index: 1;

      @media (min-width: $breakpoint-s) {
        height: 25.2rem;
        position: absolute;
        top: 100%;
        width: max-content;
      }

      &-done-button {
        background-color: transparent;
        color: var(--primary);
        font-size: var(--text-m);
        text-decoration: underline;
      }

      &-header {
        align-items: center;
        border-bottom: 0.2rem solid var(--primary);
        display: flex;
        justify-content: space-between;
        height: 9.6rem;
        padding: 2.4rem;
      }

      &-heading {
        font-size: var(--text-l);
        font-weight: 500;
      }

      &-option {
        cursor: pointer;
        padding: 1.2rem 1.6rem;
        transition: 200ms ease-in-out background-color;

        &:hover,
        &:focus {
          background-color: var(--primary);
        }
      }

      &-options {
        padding: 1.6rem 0 0;

        &-list {
          list-style: none;
          height: calc(100vh - 17.6rem);
          overflow-y: auto;
          padding: 0;
        }
      }

      &-search-input {
        appearance: none;
        border: 0;
        border: 0.2rem solid var(--primary);
        border-radius: var(--radius-s);
        padding: 1.2rem 0 1.2rem 4.8rem;
        width: 100%;

        &:focus,
        &:hover {
          outline: none !important; // Overrides automatic CSS styles
        }

        &-wrapper {
          display: flex;
          margin-bottom: 1.2rem;
          padding: 0 1.6rem;
          position: relative;

          svg {
            height: 3.2rem;
            left: 2.4rem;
            position: absolute;
            top: 0.8rem;
            width: 3.2rem;
          }
        }
      }

      &--active {
        display: block;
      }
    }
  }

  &__search-button {
    margin-top: 2.4rem;
    width: 100%;

    @media (min-width: $breakpoint-l) {
      margin: 0;
      width: 8.8rem;
    }
  }
}
