# WordPress core
wp-admin/
wp-includes/
index.php
license.txt
readme.html
wp-*.php
xmlrpc.php

# WordPress uploads, caches, languages, or upgrade artifacts
wp-content/cache/
wp-content/languages/
wp-content/upgrade*/
wp-content/uploads/

# Third-party plugins out of git by default
wp-content/mu-plugins/
wp-content/plugins/*
!wp-content/plugins/index.php

# Default WordPress themes
wp-content/themes/twentytwenty*/

# Composer files
composer.lock
vendor/

# System and IDE files
.DS_Store
.htaccess
.vscode/
.idea/
conf/
logs/
local-*.php
*.log
*.sql
