# Third-party plugins out of git by default
wp-content/plugins/*
!wp-content/plugins/index.php

# BUT allow premium plugins that can't be installed via Composer
!wp-content/plugins/admin-columns-pro/
!wp-content/plugins/advanced-custom-fields-pro/
!wp-content/plugins/automaticcss-plugin/
!wp-content/plugins/brickssync/
!wp-content/plugins/gravityforms/
!wp-content/plugins/gravityformssurvey/
!wp-content/plugins/gravityformswebhooks/
!wp-content/plugins/happyfiles-pro/
!wp-content/plugins/perfmatters/
!wp-content/plugins/revisionary-pro/
!wp-content/plugins/seo-by-rank-math-pro/
!wp-content/plugins/trustpilot-reviews/
!wp-content/plugins/visual-web-optimizer/
!wp-content/plugins/wp-all-export-pro/
!wp-content/plugins/wpae-acf-add-on/
!wp-content/plugins/wpae-gravity-forms-export-addon/
!wp-content/plugins/wpae-user-add-on-pro/
!wp-content/plugins/wp-all-import-pro/
!wp-content/plugins/wpai-acf-add-on/
!wp-content/plugins/wpai-gravity-forms-import-addon/
!wp-content/plugins/wpai-user-add-on/
!wp-content/plugins/yoast-seo-settings-xml-csv-import/
!wp-content/plugins/wp-migrate-db-pro/
!wp-content/plugins/wordpress-seo-premium/

# Never commit uploads, caches, or upgrade artifacts
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/

# Composer files
composer.lock
/vendor/

.DS_STORE
